In [2]:
a = c(1, 2, 3)

In [3]:
a

[1] 1 2 3

In [5]:
class(a)

[1] "numeric"

In [7]:
is.vector(a)

[1] TRUE

In [15]:
b = list('a', 'b', 'c')

In [16]:
is.list(b)

[1] TRUE

In [17]:
b[[2]]

[1] "b"

In [18]:
b[2]

[[1]]
[1] "b"

In [20]:
a[3]

[1] 3

In [21]:
c = list(a, 'b', 4.5)

In [42]:
c[[1]][2]

[1] 2

In [23]:
c[1]

[[1]]
[1] 1 2 3

In [24]:
c[[1]]

[1] 1 2 3

In [25]:
c[[2]]

[1] "b"

In [37]:
mat1 = matrix(c(1:6), 3, 2)
mat1

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [38]:
dim(mat1)

[1] 3 2

In [39]:
mat2 = matrix(c(1:6), 3, 2, byrow = T)

In [40]:
mat2

     [,1] [,2]
[1,] 1    2
[2,] 3    4
[3,] 5    6

In [43]:
names = c("MGP", "KY", "AV")
roll_no = c(10, 30, 20)

In [45]:
df1 = data.frame(names,roll_no)

In [46]:
df1

  names roll_no
1 MGP   10
2 KY    30
3 AV    20

In [49]:
df1$names

[1] MGP KY  AV
Levels: AV KY MGP

In [51]:
colnames(df1) <- c("Name", "Roll No")

In [52]:
df1

  Name Roll No
1 MGP  10
2 KY   30
3 AV   20