In [1]:
seq(1, 100, 2)

 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
[26] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [4]:
y = seq(100, 50, -2)

In [2]:
x = seq(50, 100, 2)

In [9]:
sum(x + y)/2

[1] 1950

In [10]:
sum(x)

[1] 1950

In [11]:
mean(x)

[1] 75

In [12]:
median(x)

[1] 75

In [4]:
var(x)
sd(x)

[1] 234

[1] 15.29706

In [36]:
y = c(1:5, 2:7, 5,10, 10, 10, 10)

In [37]:
y
unique(y)
match(y, unique(y))

 [1]  1  2  3  4  5  2  3  4  5  6  7  5 10 10 10 10

[1]  1  2  3  4  5  6  7 10

 [1] 1 2 3 4 5 2 3 4 5 6 7 5 8 8 8 8

In [38]:
tabulate(match(y, unique(y)))
which.max(tabulate(match(y, unique(y))))
unique(y)[which.max(tabulate(match(y, unique(y))))]

[1] 1 2 2 2 3 1 1 4

[1] 8

[1] 10

In [39]:
mode <- function(v){
    uniqv = unique(v)
    index = which.max(tabulate(match(y, unique(y))))
    return (uniqv[index])
}

In [40]:
mode(y)

[1] 10

In [73]:
col1 = c(1:50)
col2 = c(101:150)
df1 = data.frame(col1, col2)
head(df1)

  col1 col2
1 1    101
2 2    102
3 3    103
4 4    104
5 5    105
6 6    106

In [74]:
dim(df1)

[1] 50  2

In [75]:
col3 = c(1001:1050)

In [76]:
df2 <- cbind(df1, col3)

In [77]:
head(df2)

  col1 col2 col3
1 1    101  1001
2 2    102  1002
3 3    103  1003
4 4    104  1004
5 5    105  1005
6 6    106  1006

In [78]:
dim(df2)

[1] 50  3

In [79]:
col1 = c(51:100)
col2 = c(151:200)
col3 = c(1051:1100)
df3 = data.frame(col1,col2,col3)

In [80]:
head(df3)

  col1 col2 col3
1 51   151  1051
2 52   152  1052
3 53   153  1053
4 54   154  1054
5 55   155  1055
6 56   156  1056

In [81]:
tail(df2)

   col1 col2 col3
45 45   145  1045
46 46   146  1046
47 47   147  1047
48 48   148  1048
49 49   149  1049
50 50   150  1050

In [82]:
df4 = rbind(df2, df3)

In [83]:
df4[45:55, ]

   col1 col2 col3
45 45   145  1045
46 46   146  1046
47 47   147  1047
48 48   148  1048
49 49   149  1049
50 50   150  1050
51 51   151  1051
52 52   152  1052
53 53   153  1053
54 54   154  1054
55 55   155  1055

In [84]:
dim(df4)

[1] 100   3

In [85]:
apply(df4, 2, mean)

  col1   col2   col3
  50.5  150.5 1050.5

In [86]:
apply(df4, 1, max)

  [1] 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015
 [16] 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030
 [31] 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045
 [46] 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059 1060
 [61] 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073 1074 1075
 [76] 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087 1088 1089 1090
 [91] 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100

In [88]:
apply (df4, 1, function(x) x[3] - (x[1] + x[2]))

  [1] 899 898 897 896 895 894 893 892 891 890 889 888 887 886 885 884 883 882
 [19] 881 880 879 878 877 876 875 874 873 872 871 870 869 868 867 866 865 864
 [37] 863 862 861 860 859 858 857 856 855 854 853 852 851 850 849 848 847 846
 [55] 845 844 843 842 841 840 839 838 837 836 835 834 833 832 831 830 829 828
 [73] 827 826 825 824 823 822 821 820 819 818 817 816 815 814 813 812 811 810
 [91] 809 808 807 806 805 804 803 802 801 800

In [90]:
sapply(col1, function(x) x>65)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[25]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[37]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[49]  TRUE  TRUE

In [91]:
lapply(col1, function(x) x<65)

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

[[4]]
[1] TRUE

[[5]]
[1] TRUE

[[6]]
[1] TRUE

[[7]]
[1] TRUE

[[8]]
[1] TRUE

[[9]]
[1] TRUE

[[10]]
[1] TRUE

[[11]]
[1] TRUE

[[12]]
[1] TRUE

[[13]]
[1] TRUE

[[14]]
[1] TRUE

[[15]]
[1] FALSE

[[16]]
[1] FALSE

[[17]]
[1] FALSE

[[18]]
[1] FALSE

[[19]]
[1] FALSE

[[20]]
[1] FALSE

[[21]]
[1] FALSE

[[22]]
[1] FALSE

[[23]]
[1] FALSE

[[24]]
[1] FALSE

[[25]]
[1] FALSE

[[26]]
[1] FALSE

[[27]]
[1] FALSE

[[28]]
[1] FALSE

[[29]]
[1] FALSE

[[30]]
[1] FALSE

[[31]]
[1] FALSE

[[32]]
[1] FALSE

[[33]]
[1] FALSE

[[34]]
[1] FALSE

[[35]]
[1] FALSE

[[36]]
[1] FALSE

[[37]]
[1] FALSE

[[38]]
[1] FALSE

[[39]]
[1] FALSE

[[40]]
[1] FALSE

[[41]]
[1] FALSE

[[42]]
[1] FALSE

[[43]]
[1] FALSE

[[44]]
[1] FALSE

[[45]]
[1] FALSE

[[46]]
[1] FALSE

[[47]]
[1] FALSE

[[48]]
[1] FALSE

[[49]]
[1] FALSE

[[50]]
[1] FALSE